<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome on board!</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        header {
            background-color: blueviolet;
            color: white;
            padding-block: 2rem;
        }

        main {
            padding-block: 2rem;
        }

        .container {
            max-width: 900px;
            margin-inline: auto;
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <h1>My first server :D</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <ul>
                <li>Max</li>
                <li>Federico</li>
                <li>Isabel</li>
            </ul>
        </div>

    </main>
</body>